@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}
:root {
    --almost-white: #FFFDFA;
    --dark-blue: #00001A;
    --gunmetal: #5E607A;
    --vermillion: #F15D51;
    --yellow: #E9AA52;
    --silver: #C5C6CE;
}
body {
    padding: 1.75rem 1rem;
    background-color: var(--almost-white);
}
.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.header-mobile > button {
    border: none;
    background: none;
}
.first-section {
    margin-bottom: 4rem;
}
.first-section > img {
    width: 100%;
    margin-bottom: 1.5rem;
}
.first-section > h1 {
    font-size: 2.5rem;
    line-height: 100%;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}
.first-section > p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
    margin-bottom: 1.5rem;
}
.first-section > button {
    padding: 0.75rem 2rem;
    border: none;
    background-color: var(--vermillion);
    color: var(--almost-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.25rem;
    line-height: 1.5rem;
}
.second-section {
    background-color: var(--dark-blue);
    margin-bottom: 4rem;
    padding: 1.2rem 0.5rem;
}
.margin-border-padding {
    border-bottom: 1px solid var(--gunmetal);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}
.second-section > h2 {
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}
.second-section h3 {
    font-size: 1.25rem;
    color: var(--almost-white);
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.second-section p {
    color: var(--silver);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}
.third-section > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.third-section img {
    width: 6.25rem;
}
.third-section strong {
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
}
.third-section h2 {
    color: var(--dark-blue);
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-block: 0.6rem;
}
.third-section p {
    color: var(--gunmetal);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}